@charset "utf-8";
/* CSS Document */

header{
	width: 100%;
	height: 150px;
	background-color: #0B0E34;
}
.logo img{
	width: 95px;
	height: auto;
	padding-top: 55px
}
.top-bar{
	width: 100%;height: 50px;border-bottom: 2px solid ;color: #fff; line-height: 60px;position: absolute;left: 0;top: 0;padding-bottom: 10px 20px; float: right;
}

.menu{
	float: right;
	padding-top: 40px
}
.menu ul{
	
	margin: 0;
	padding-top: 60px;
	display: flex;
	list-style: none
}
.menu ul li a{
	font-size: 20px;
	padding: 15px 30px;
	text-decoration: none;
	text-transform:uppercase;
	color: aliceblue
}
.menu ul li a:hover{
	color:black
}
#slide .owl-dots{ position:absolute; bottom: 10px; left:45%;}
#slide .owl-dots .owl-dot span {
      width: 12px;
      height: 10px; 	
}

#slide .owl-nav { position:absolute; left:0px; top:20%; width:100%; }
#slide .owl-nav [class*='owl-'] {
	font-size:50px; /*background:rgba(255,255,255,.5);border:1px solid #fff; */ color: #FBFBFB
}

#slide .owl-nav .owl-next{ position:absolute; right:5%;}
#slide .owl-nav .owl-prev{ position:absolute; left:5%;}
#slide .owl-nav [class*='owl-']:hover {
      background:none;border: none;
      color:#2723CF;
      text-decoration: none; }
.gach-chan{
	border-bottom: 2px solid #C83E00
}
.vien{
	width: 100%;min-height: 300px;border: 1px solid rgba(13,20,69,1.00);padding: 10px;position: relative;overflow: hidden
}
.icon{
	width: 80%;height: 40px;position: absolute;left: 10%;top: -15%;display: flex;justify-content: space-around;
}
.icon a{
	height: 40px;width: 40px;background-color:#D83D04;color: white;border-radius: 50%;display: flex;justify-content: center;align-items: center;text-decoration: none
}
.icon a:hover{
	background-color: white;color: #D83D04;border: 1px solid #D83D04
}
.vien:hover .icon{
	top:45%
}
.container{
	width: 80%; height: 0 auto;
	justify-content: space-around;
	flex-wrap: wrap;
}
#blog1{
	width: 100%;height: auto;
	display: flex;
    padding: 20px;
    background-color: #0f294d;
    color: white;
    margin: 20px 0;
}
#blog2{
	width: 100%;height: auto;
	display: flex;
    padding: 20px;
    background-color:#C63B03;
    color: white;
    margin: 20px 0;
}
.img-blog{
	 max-width: 400px;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
}
.text-blog{
	 max-width: 500px;
    padding: 20px;
}
.text-blog p i{
	font-size: 20px;
	padding: 0;
	text-align: center;
}

.nut-xemthem{
	padding: 5px 10px;
	background-color:#0E1642 ;
	color: white;
	text-decoration:none;
	border-radius: 10px;
	transition: 1s
}
.nut-xemthem:hover{
	background-color: #D54605
}
.nut-xemthem1{
	padding: 5px 10px;
	background-color: #9A2803 ;
	color: white;
	text-decoration:none;
	border-radius: 10px;
	transition: 1s
}
.nut-xemthem1:hover{
	background-color:#0E1642
}
.text-topbar{
	padding: 5px;
	color: white;
}
.text-topbar a{
	color: white;
	align-items: center;
	padding: 5px;
	text-decoration: none;
	border: 10px
}
.text-topbar a:hover{
	color: darkorange
}
.binhhoa a{
	color:cadetblue;
	text-decoration: none;
}
.binhhoa a:hover{
	color: #A40508
}
footer{
	width: 100%;
	height: 350px;
	background-color: #0B0E34;
	text-align: center;
	clear: both
	
}
footer h4{
	color: bisque;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";font-size: 20px
}
footer ul li{
	color: aliceblue;list-style: none;padding: 5px
}
.text-footer ul li a{
	text-decoration: none; color: cadetblue;
}
.text-footer ul li a:hover{
	color: crimson
}
main{
	width: 100%;min-height: 500px auto ;clear: both
}
.w-40{
	width: 40%;padding: 15px;float: left;
}
.w-60{
	width: 60%;padding: 10px;float:left
}
.vien-xam{
	width: 100%; min-height: 300px;border: 1px solid grey; border-radius: 1px;padding: 10px;
	margin-bottom: 5px
}
.banner img{
	width: 100%; height: 450px
}
.form-control{
	
	padding: 8px;margin-bottom: 10px; width: 100%
}
.nut{
	
	padding: 10px 20px; background-color: blue; color: white;border: orange; border-radius: 10px; cursor: pointer
}
.nut:hover{
background-color: 	orange
}
.text-nho{
	align-items: center;color:aliceblue;font-family:Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";font-size: 15px;
}





